*{
    padding: 0;
    margin: 0;
}
//variable
@font-face {
    font-family: Roboto;
    src: url("../src/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("../src/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter/static/Inter-Black.ttf");
}

$yellow: rgba(249,222,78,1);
$grey: #F5F5F5;

body,html, .root{
    background-color: white;

//home

//header
    header{
        background-color: $yellow;

        //nav
        nav{
            background-color: $yellow;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 15vh;
            h2{
                font-family: Roboto;
                font-weight: 900;
                font-size: 2rem;
                background-color: $yellow;
                color: black;
            }
            .nav__link{
                font-family: Roboto;
                font-weight: 600;
                font-size: 1rem;
                display: none;
            }
            .nav__log{
                font-family: Roboto;
                font-weight: 600;
                a{
                    margin-right: 2vw;
                    font-size: 0.8rem;
                }
                #Sign_up{
                    background-color: white;
                    padding: 1vh;
                    border-radius: 10px;
                }
            }    
        }
    }
    .header__manage{
        h2{
            font-family: Inter;
            font-weight: 900;
            font-size: 2rem;
            text-align: center;
        }
    }


    //table
    .over{
        overflow-x: auto;
        margin: auto;
        width: 80%;

        table {
            margin: auto;
            width: 80%;
            font-family: Roboto;
            font-weight: 500;
            font-size: 1rem;
            border-collapse: collapse;
            border-spacing: 2%;
        
            tr {
                text-align: center;
                font-family: Roboto;
                font-weight: 500;
                font-size: 1rem;
        
                th {
                    text-align: center;
                    background-color: $yellow;
                    padding: 1%;
                    white-space: nowrap;
                }
        
                td {
                    white-space: nowrap;
                    width: 4rem;
                    text-align: center;
                    margin: 2%;
                    padding: 2%;
                }
            }
        }
    }
    //images

    //down_body
    .work{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;

        .title_work{
            display: flex;
            flex-flow: row wrap;
            max-width: 50vw;
        }

        h2{
            font-family: Inter;
            font-weight: 900;
            font-size: 1.7rem;
            text-align: center;
            margin: 1rem;
            

        }

        .illus{
            display: flex;
            align-items: center;
            max-width: 50vw;
        }

    
    }

    //footer
   
        footer {
            color:#737373;
            margin-top: 2rem;

            
            a {
                padding: 1rem;
            }
    
            img {
                margin: 0.8rem;
            }

            .block-footer{
                display: flex;
                flex-direction: column;

                .footer__title {
                    font-family: 'Roboto';
                    font-weight: 900;
                    font-size: 2rem;
                    border: 5px solid $yellow;
                    color: black;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                   // margin: 2rem;
                    width : 8rem;
                }

                .infos {
                    display:flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    .map {
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        margin-top: 2rem;
                    }

                    .phone-fax{
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;

                        .phone{
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                        }
                        
                        .fax {
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                        }
                    }


                    .social-media {
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        margin-top: 0.5rem;
                    }
                }

               
            }

            

           
            .hr-yellow{
                border: 1px solid #F9DE4E;
                margin-bottom: 2rem; 
                margin-left: 2rem;
                margin-right: 2rem;
            }

           

         
        }
    
        .footer__nav {
            display: flex;
            flex-wrap: wrap;
            color: #737373;
            padding : 2rem;

            .hr_grey{
                border: 1px solid #737373;
                width: 100%;
            }

            .nav__link{
                display: flex;
                flex-wrap: wrap;

            }
        

            p{
                margin: 1rem;
            }

        }


  


//invoices, contacts, companies
        .invoices__h1{
            font-family: Roboto;
            font-weight: 900;
            font-size: 2rem;
            color: black;
            margin: 2rem;
        }

        .rectangle_jaune{
            //position: absolute;
                width: 6rem;
                height: 1rem;
                //left: 293px;
                //top: 382px;
            
                background: #F9DE4E;
        }
    //tableau

//show_invoices

    //contact_name

    //contact_poeple

//show_contact


}

                //VERSION DESKTOP

body,html {
    @media screen and (min-width: 725px) {
        background-color: white;

    //home

        //nav

        //header

        //tableau

        //images

        //down_body

        //footer

    //invoices, contacts, companies

        //tableau

    //show_invoices

        //contact_name

        //contact_poeple

    //show_contact


    }
}