*{
    padding: 0;
    margin: 0;
}
//variable
@font-face {
    font-family: Roboto;
    src: url("../src/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("../src/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter/static/Inter-Black.ttf");
}

$yellow: rgba(249,222,78,1);
$grey: #F5F5F5;

body,html, .root{
    background-color: white;

//home

//header
    header{
        background-color: $yellow;

        //nav
        nav{
            background-color: $yellow;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 15vh;
            h2{
                font-family: Roboto;
                font-weight: 900;
                font-size: 2rem;
                background-color: $yellow;
                color: black;
            }
            .nav__link{
                font-family: Roboto;
                font-weight: 600;
                font-size: 1rem;
                display: none;
            }
            .nav__log{
                font-family: Roboto;
                font-weight: 600;

                Link{
                    margin-right: 2rem;
                    padding-right:2rem;
                    font-size: 0.8rem;
                }
                #Sign_up{
                    background-color: white;
                    padding: 0.5rem;
                    border-radius: 10px;
                }

                .login{
                    padding: 0.5rem;
                    margin-left: 2.5rem;
                }
            }    
        }
    }
    .header__manage{
        h2{
            font-family: Inter;
            font-weight: 900;
            font-size: 2rem;
            text-align: center;
        }
    }
    main{

        h2{
            font-family: Roboto;
            font-weight: 900;
            font-size: 2rem;
            color: black;
            margin: 2rem;
        }

        .img_main{
            display:flex;

            #main{
                margin-left:auto;
            }
        }   

        //table
        .over{
            overflow-x: auto;
            margin: auto;
            width: 80%;
           


            table {
                margin: auto;
                font-family: Roboto;
                font-weight: 500;
                font-size: 1rem;
                border-collapse: collapse;
                border-spacing: 2%;
                

                tbody{
                    padding : 1rem;
                }
        
                tr {
                    text-align: center;
                    font-family: Roboto;
                    font-weight: 500;
                    font-size: 1rem;

                    th {
                        text-align: center;
                        background-color: $yellow;
                        padding: 1rem;
                        white-space: nowrap;
                    }
        
                    td {
                        white-space: nowrap;
                        width: 4rem;
                        text-align: center;
                        margin: 2%;
                        padding: 1rem;
                        //padding: 2%;
                    }
                }
            }
        }
        //images
        

        //down_body
        .work{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-left: 2rem;
            margin-right: 2rem;

            .title_work{
                display: flex;
                flex-flow: row wrap;
                max-width: 50vw;
            }

            h2{
                font-family: Inter;
                font-weight: 900;
                font-size: 1.7rem;
                text-align: center;
                margin: 1rem;
            }

            .illus{
                display: flex;
                align-items: center;
                max-width: 100%;
            }
        }
    }
    //footer
   
        footer {
            color:#737373;
            margin-top: 2rem;

            
            a {
                padding: 1rem;
            }
    
            img {
                margin: 0.8rem;
            }

            .block-footer{
                display: flex;
                flex-direction: column;

                .footer__title {
                    font-family: 'Roboto';
                    font-weight: 900;
                    font-size: 2rem;
                    border: 5px solid $yellow;
                    color: black;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                   // margin: 2rem;
                    width : 8rem;
                }

                .infos {
                    display:flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    .map {
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        margin-top: 2rem;
                    }

                    .phone-fax{
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;

                        .phone{
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                        }
                        
                        .fax {
                            display: flex;
                            align-items: center;
                            flex-flow: row wrap;
                        }
                    }


                    .social-media {
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;
                        margin-top: 0.5rem;
                    }
                }   
            }

            
            .hr-yellow{
                border: 1px solid #F9DE4E;
                margin-bottom: 2rem; 
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    
        .footer__nav {
            display: flex;
            flex-wrap: wrap;
            color: #737373;
            padding : 2rem;

            .hr_grey{
                border: 1px solid #737373;
                width: 100%;
            }

            .nav__link{
                display: flex;
                flex-wrap: wrap;

            }
        

            p{
                margin: 1rem;
            }
        }

//invoices, contacts, companies
        h1{
            font-family: Roboto;
            font-weight: 900;
            font-size: 2rem;
            color: black;
            margin: 2rem;
        }

        h1::after {
                display:flex;
                content:"";
                width: 11rem;
                height: 1rem;
                background: #F9DE4E;
                margin:auto;
                margin-left: 4.5rem;
                margin-top: -1.4rem;
        }
    //tableau

//show_invoices

    //contact_name

    //contact_poeple

//show_contact





}

    //dashboard
    .body_dashboard{
        margin: -2rem;
        background-color: #E7E7E7;

    }
    .dashboard{
        margin: 2rem;

        h2{
            font-family: Roboto;
            font-size: 1rem;
            
        }
        h5{
            font-family: Inter;
            font-weight: 300;
            color:#737373;
            font-size: 0.6rem;
            
        }

        .rectangle_mauve{
            margin: 2rem;
            margin-top: 3rem;
            border-radius: 20px;
            background-color: #9698D6;
            color:#F5F5F5;
            padding: 2rem;

            img{
                width: 100%;
                margin-top: -7rem;
            }


            h3{
                font-family: Roboto;
                font-size: 1rem;
                margin-top:1rem;
                margin-bottom:0.5rem;
            }

            p{
                font-family: Inter;
                font-size: 0.6rem;
            }

        }
    }    

    .body_dashboard_invoice{
        margin: -2rem;
        background-color: #E7E7E7;

    }

    .new_invoice{
        margin: 2rem;

        button{
            margin-left: 2rem;
        }

        h2{
            font-family: Roboto;
            font-size: 1rem;
            margin-left: 2rem;
            
        }
        
        .breadcrumb_div{
            margin: 2rem;
        }
        h5{
            font-family: Inter;
            font-weight: 300;
            color:#737373;
            font-size: 0.6rem;
            margin-left: 2rem;            
        }

        .rectangle_mauve{
            margin: 2rem;
            margin-top: 3rem;
            border-radius: 20px;
            background-color: #9698D6;
            color:#F5F5F5;
            padding: 2rem;

            img{
                width: 100%;
                margin-top: -7rem;
            }


            h3{
                font-family: Roboto;
                font-size: 1rem;
                margin-top:1rem;
                margin-bottom:0.5rem;
            }

            p{
                font-family: Inter;
                font-size: 0.6rem;
            }

        }

    }

        .div_form{
            background-color: white;
            border-radius: 20px;
            margin: 2rem;
            padding: 1rem;
            font-family: Inter;
            font-size: 1rem;
            
            label{
                font-size: 0.8rem;
                padding-bottom: 0.5rem;
                padding-top: 0.8rem;
                //margin: 0.5rem;
            }

            input{
                padding-bottom: 0.5rem;
            }
        }
        .breadcrumb_div{
            margin-bottom: 2rem;
        }

        .breadCrumbItem {
            font-family: Inter;
            font-weight: 300;
            color: #737373;
            font-size: 0.6rem;
        }
    //drawer
    .drawer__header{
        background-color: white;
    }

    .drawer__button{
        padding: 0.4rem;
       // margin: 0.5rem;
        padding-left : 0.6rem;
        padding-right: 0.6rem;
        margin-top: -3rem;
        border-radius: 20px;
        background-color: #9698D6;
        font-size: 0.5rem;
        color: white;
        font-family: Roboto;
        border: none;
    }
    .drawer__title {
        font-family: Roboto;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .drawer__link{
        padding: 2rem;
        a{
            font-family: Roboto;
            margin-left:0.5rem;
        }

        
    }

                //VERSION DESKTOP

body,html {
    @media screen and (min-width: 725px) {
        background-color: white;

    //home


        //header
        header{
            .header__manage{
                display: flex;
                align-items: center;
                img{
                    width: 50%;
                }
                h2{
                    width: 50%;
                    text-align: center;
                }
            }
            //nav
            nav{
                .nav__link{
                    display: block;
                    width: 50%;
                    a{
                        margin-right: 7.5%;
                    }
                }
                .chakra-button{
                    display: none;
                }
            }
        }

        //tableau

        //images

        //down_body

        .work{
            height: 50vh;
            margin: 0;
            padding: 0;
            .title_work{
                width: 50%;
                margin: 0;
                h2{
                    display: flex;
                    align-items: center;
                }
            }
            .illus {
                margin: 0;
                img{
                    width: 50%;
                }
            }
        }

        //footer

    //invoices, contacts, companies

        //tableau

    //show_invoices

        //contact_name

        //contact_poeple

    //show_contact


    }
}