*{
    padding: 0;
    margin: 0;
}
//variable
@font-face {
    font-family: Roboto;
    src: url("../src/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: 'Roboto Medium';
    src: url("../src/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./assets/font/Inter/static/Inter-Black.ttf");
}

$yellow: rgba(249,222,78,1);
$grey: #F5F5F5;

body,html, .root{
    background-color: white;

//home

//header
header{
    background-color: $yellow;

    //nav
    nav{
        background-color: $yellow;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        h2{
            font-family: Roboto;
            font-weight: 900;
            font-size: 2rem;
            background-color: $yellow;
            color: black;
        }
        .nav__link{
            font-family: Roboto;
            font-weight: 600;
            font-size: 1rem;
            display: none;
        }
        .nav__log{
            font-family: Roboto;
            font-weight: 600;
            a{
                margin-right: 2vw;
                font-size: 0.8rem;
                
            }
            #Sign_up{
                background-color: white;
                padding: 1vh;
                border-radius: 10px;
            }
        }    
    }
    .header__manage{
        h2{
            font-family: Inter;
            font-weight: 900;
            font-size: 2rem;
            text-align: center;
        }
    }
}
    

    //table
    table{
        margin: auto;
        width: 80%;
        overflow-x: auto;
        overflow: scroll;
        tr{
            font-family: Roboto;
            font-weight: 500;
            font-size: 1rem;
        }
        th{
            background-color: $yellow;
            padding: 1%;
            width: min-content;
        }
        td{
            padding: 1%;
        }
        .grey{
            background-color: $grey;
        }
    }

    //images

    //down_body

    //footer
   
        footer {
            margin-top: 2rem;

            
            a {
                padding: 1rem;
            }
    
            img {
                margin: 0.8rem;
            }

            .block-footer{
                display: flex;
                flex-direction: column;

                .footer__title {
                    font-family: 'Roboto';
                    font-weight: 900;
                    font-size: 2rem;
                    border: 5px solid $yellow;
                    color: black;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    margin: 2rem;
                    width : 8rem;
                }

                .infos {
                    display:flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    .map {
                        img{
                            margin-left: auto;
                            //margin-right: auto;
                            //margin-bottom: 1rem;
                        }
                        flex-direction: row;
                    }

                    .social-media {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }
            }

            

           
            .hr-yellow{
                color: yellow;
                size: 3px;
            }

           

         
        }
    
        ;


//invoices, contacts, companies

    //tableau

//show_invoices

    //contact_name

    //contact_poeple

//show_contact


}

                //VERSION DESKTOP

body,html {
    @media screen and (min-width: 725px) {
        background-color: white;

    //home

        //nav

        //header

        //tableau

        //images

        //down_body

        //footer

    //invoices, contacts, companies

        //tableau

    //show_invoices

        //contact_name

        //contact_poeple

    //show_contact


    }
}