* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter-Black.ttf");
}
body, html, .root {
  background-color: white;
}
body header, html header, .root header {
  background-color: rgb(249, 222, 78);
}
body header nav, html header nav, .root header nav {
  background-color: rgb(249, 222, 78);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}
body header nav h2, html header nav h2, .root header nav h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  background-color: rgb(249, 222, 78);
  color: black;
}
body header nav .nav__link, html header nav .nav__link, .root header nav .nav__link {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1rem;
  display: none;
}
body header nav .nav__log, html header nav .nav__log, .root header nav .nav__log {
  font-family: Roboto;
  font-weight: 600;
}
body header nav .nav__log Link, html header nav .nav__log Link, .root header nav .nav__log Link {
  margin-right: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
}
body header nav .nav__log #Sign_up, html header nav .nav__log #Sign_up, .root header nav .nav__log #Sign_up {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}
body header nav .nav__log .login, html header nav .nav__log .login, .root header nav .nav__log .login {
  padding: 0.5rem;
  margin-left: 2.5rem;
}
body .header__manage h2, html .header__manage h2, .root .header__manage h2 {
  font-family: Inter;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
body main h2, html main h2, .root main h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  margin: 2rem;
}
body main .img_main, html main .img_main, .root main .img_main {
  display: flex;
}
body main .img_main #main, html main .img_main #main, .root main .img_main #main {
  margin-left: auto;
}
body main .over, html main .over, .root main .over {
  overflow-x: auto;
  margin: auto;
  width: 80%;
}
body main .over table, html main .over table, .root main .over table {
  margin: auto;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 2%;
}
body main .over table tbody, html main .over table tbody, .root main .over table tbody {
  padding: 1rem;
}
body main .over table tr, html main .over table tr, .root main .over table tr {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
}
body main .over table tr th, html main .over table tr th, .root main .over table tr th {
  text-align: center;
  background-color: rgb(249, 222, 78);
  padding: 1rem;
  white-space: nowrap;
}
body main .over table tr td, html main .over table tr td, .root main .over table tr td {
  white-space: nowrap;
  width: 4rem;
  text-align: center;
  margin: 2%;
  padding: 1rem;
}
body main .work, html main .work, .root main .work {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
body main .work .title_work, html main .work .title_work, .root main .work .title_work {
  display: flex;
  flex-flow: row wrap;
  max-width: 50vw;
}
body main .work h2, html main .work h2, .root main .work h2 {
  font-family: Inter;
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
  margin: 1rem;
}
body main .work .illus, html main .work .illus, .root main .work .illus {
  display: flex;
  align-items: center;
  max-width: 100%;
}
body footer, html footer, .root footer {
  color: #737373;
  margin-top: 2rem;
}
body footer a, html footer a, .root footer a {
  padding: 1rem;
}
body footer img, html footer img, .root footer img {
  margin: 0.8rem;
}
body footer .block-footer, html footer .block-footer, .root footer .block-footer {
  display: flex;
  flex-direction: column;
}
body footer .block-footer .footer__title, html footer .block-footer .footer__title, .root footer .block-footer .footer__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2rem;
  border: 5px solid rgb(249, 222, 78);
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 8rem;
}
body footer .block-footer .infos, html footer .block-footer .infos, .root footer .block-footer .infos {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
body footer .block-footer .infos .map, html footer .block-footer .infos .map, .root footer .block-footer .infos .map {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 2rem;
}
body footer .block-footer .infos .phone-fax, html footer .block-footer .infos .phone-fax, .root footer .block-footer .infos .phone-fax {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .phone-fax .phone, html footer .block-footer .infos .phone-fax .phone, .root footer .block-footer .infos .phone-fax .phone {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .phone-fax .fax, html footer .block-footer .infos .phone-fax .fax, .root footer .block-footer .infos .phone-fax .fax {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .social-media, html footer .block-footer .infos .social-media, .root footer .block-footer .infos .social-media {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 0.5rem;
}
body footer .hr-yellow, html footer .hr-yellow, .root footer .hr-yellow {
  border: 1px solid #F9DE4E;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
body .footer__nav, html .footer__nav, .root .footer__nav {
  display: flex;
  flex-wrap: wrap;
  color: #737373;
  padding: 2rem;
}
body .footer__nav .hr_grey, html .footer__nav .hr_grey, .root .footer__nav .hr_grey {
  border: 1px solid #737373;
  width: 100%;
}
body .footer__nav .nav__link, html .footer__nav .nav__link, .root .footer__nav .nav__link {
  display: flex;
  flex-wrap: wrap;
}
body .footer__nav p, html .footer__nav p, .root .footer__nav p {
  margin: 1rem;
}
body h1, html h1, .root h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  margin: 2rem;
}
body h1::after, html h1::after, .root h1::after {
  display: flex;
  content: "";
  width: 11rem;
  height: 1rem;
  background: #F9DE4E;
  margin: auto;
  margin-left: 4.5rem;
  margin-top: -1.4rem;
}

@media screen and (min-width: 725px) {
  body, html {
    background-color: white;
  }
}/*# sourceMappingURL=style.css.map */