* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url("../src/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../src/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter-Black.ttf");
}
body,
html,
.root {
  background-color: white;
}
body header,
html header,
.root header {
  background-color: rgb(249, 222, 78);
}
body header img,
html header img,
.root header img {
  margin: auto;
  width: 90vw;
}
body header nav,
html header nav,
.root header nav {
  background-color: rgb(249, 222, 78);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
}
body header nav h2,
html header nav h2,
.root header nav h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  background-color: rgb(249, 222, 78);
  color: black;
}
body header nav .nav__link,
html header nav .nav__link,
.root header nav .nav__link {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1rem;
  display: none;
}
body header nav .nav__log,
html header nav .nav__log,
.root header nav .nav__log {
  font-family: Roboto;
  font-weight: 600;
}
body header nav .nav__log Link,
html header nav .nav__log Link,
.root header nav .nav__log Link {
  margin-right: 2rem;
  padding-right: 2rem;
  font-size: 0.8rem;
}
body header nav .nav__log #Sign_up,
html header nav .nav__log #Sign_up,
.root header nav .nav__log #Sign_up {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}
body header nav .nav__log .login,
html header nav .nav__log .login,
.root header nav .nav__log .login {
  padding: 0.5rem;
  margin-left: 2.5rem;
}
body .header__manage h2,
html .header__manage h2,
.root .header__manage h2 {
  font-family: Inter;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
body main h2,
html main h2,
.root main h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  margin: 2rem;
}
body main .img_main,
html main .img_main,
.root main .img_main {
  display: flex;
}
body main .img_main #main,
html main .img_main #main,
.root main .img_main #main {
  margin-left: auto;
}
body main .over,
html main .over,
.root main .over {
  overflow-x: auto;
  margin: auto;
  width: 80%;
}
body main .over table,
html main .over table,
.root main .over table {
  margin: auto;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 2%;
}
body main .over table tbody,
html main .over table tbody,
.root main .over table tbody {
  padding: 1rem;
}
body main .over table tr,
html main .over table tr,
.root main .over table tr {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
}
body main .over table tr th,
html main .over table tr th,
.root main .over table tr th {
  text-align: center;
  background-color: rgb(249, 222, 78);
  padding: 1rem;
  white-space: nowrap;
}
body main .over table tr td,
html main .over table tr td,
.root main .over table tr td {
  white-space: nowrap;
  width: 4rem;
  text-align: center;
  margin: 2%;
  padding: 1rem;
}
body main .over ul,
html main .over ul,
.root main .over ul {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  text-align: center;
}
body main .over ul li,
html main .over ul li,
.root main .over ul li {
  padding: 1%;
  text-align: center;
  margin: 1%;
  border-radius: 4px;
  border: #DFE3E8 solid 1px;
}
body main .over ul li ::hover,
html main .over ul li ::hover,
.root main .over ul li ::hover {
  background-color: #919EAB;
}
body main .over ul .next,
body main .over ul .previous,
html main .over ul .next,
html main .over ul .previous,
.root main .over ul .next,
.root main .over ul .previous {
  color: #F9DE4E;
}
body main .over ul .selected,
html main .over ul .selected,
.root main .over ul .selected {
  color: #F9DE4E;
  border-color: #F9DE4E;
}
body main .work,
html main .work,
.root main .work {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
body main .work .title_work,
html main .work .title_work,
.root main .work .title_work {
  display: flex;
  flex-flow: row wrap;
  max-width: 50vw;
}
body main .work h2,
html main .work h2,
.root main .work h2 {
  font-family: Inter;
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
  margin: 1rem;
}
body main .work .illus,
html main .work .illus,
.root main .work .illus {
  display: flex;
  align-items: center;
  max-width: 100%;
}
body footer,
html footer,
.root footer {
  color: #737373;
  margin-top: 2rem;
}
body footer a,
html footer a,
.root footer a {
  padding: 1rem;
}
body footer img,
html footer img,
.root footer img {
  margin: 0.8rem;
}
body footer .block-footer,
html footer .block-footer,
.root footer .block-footer {
  display: flex;
  flex-direction: column;
}
body footer .block-footer .footer__title,
html footer .block-footer .footer__title,
.root footer .block-footer .footer__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2rem;
  border: 5px solid rgb(249, 222, 78);
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 8rem;
}
body footer .block-footer .infos,
html footer .block-footer .infos,
.root footer .block-footer .infos {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
body footer .block-footer .infos .map,
html footer .block-footer .infos .map,
.root footer .block-footer .infos .map {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 2rem;
}
body footer .block-footer .infos .phone-fax,
html footer .block-footer .infos .phone-fax,
.root footer .block-footer .infos .phone-fax {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .phone-fax .phone,
html footer .block-footer .infos .phone-fax .phone,
.root footer .block-footer .infos .phone-fax .phone {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .phone-fax .fax,
html footer .block-footer .infos .phone-fax .fax,
.root footer .block-footer .infos .phone-fax .fax {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
body footer .block-footer .infos .social-media,
html footer .block-footer .infos .social-media,
.root footer .block-footer .infos .social-media {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 0.5rem;
}
body footer .hr-yellow,
html footer .hr-yellow,
.root footer .hr-yellow {
  border: 1px solid #F9DE4E;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
body .footer__nav,
html .footer__nav,
.root .footer__nav {
  display: flex;
  flex-wrap: wrap;
  color: #737373;
  padding: 2rem;
}
body .footer__nav .hr_grey,
html .footer__nav .hr_grey,
.root .footer__nav .hr_grey {
  border: 1px solid #737373;
  width: 100%;
}
body .footer__nav .nav__link,
html .footer__nav .nav__link,
.root .footer__nav .nav__link {
  display: flex;
  flex-wrap: wrap;
}
body .footer__nav p,
html .footer__nav p,
.root .footer__nav p {
  margin: 1rem;
}
body h1,
html h1,
.root h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  margin: 2rem;
}
body h1::after,
html h1::after,
.root h1::after {
  display: flex;
  content: "";
  width: 11rem;
  height: 1rem;
  background: #F9DE4E;
  margin: auto;
  margin-left: 4.5rem;
  margin-top: -1.4rem;
}
body h1,
html h1,
.root h1 {
  text-align: center;
}
body .info,
html .info,
.root .info {
  text-align: center;
}
body hr,
html hr,
.root hr {
  color: black;
  height: 1px;
  margin: 10%;
}
body .dashboard,
html .dashboard,
.root .dashboard {
  background-color: #E7E7E7;
}
body .dashboard h2,
html .dashboard h2,
.root .dashboard h2 {
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: Roboto;
  font-size: 1.5rem;
}
body .dashboard h4,
html .dashboard h4,
.root .dashboard h4 {
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
body .dashboard h5,
html .dashboard h5,
.root .dashboard h5 {
  font-family: Inter;
  font-weight: 300;
  color: #737373;
  font-size: 0.6rem;
}
body .dashboard button,
html .dashboard button,
.root .dashboard button {
  margin-left: 2rem;
}
body .dashboard .breadcrumb_div,
html .dashboard .breadcrumb_div,
.root .dashboard .breadcrumb_div {
  margin-left: 2rem;
}
body .dashboard .rectangle_mauve,
html .dashboard .rectangle_mauve,
.root .dashboard .rectangle_mauve {
  margin-left: 2rem;
  margin-top: 3rem;
  margin-right: 3rem;
  border-radius: 20px;
  background-color: #9698D6;
  color: #F5F5F5;
  padding: 2rem;
}
body .dashboard .rectangle_mauve img,
html .dashboard .rectangle_mauve img,
.root .dashboard .rectangle_mauve img {
  width: 100%;
  margin-top: -7rem;
}
body .dashboard .rectangle_mauve h3,
html .dashboard .rectangle_mauve h3,
.root .dashboard .rectangle_mauve h3 {
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body .dashboard .rectangle_mauve p,
html .dashboard .rectangle_mauve p,
.root .dashboard .rectangle_mauve p {
  font-family: Inter;
  font-size: 0.6rem;
}
body .dashboard .table_cards,
html .dashboard .table_cards,
.root .dashboard .table_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .dashboard .table_cards .statistics,
html .dashboard .table_cards .statistics,
.root .dashboard .table_cards .statistics {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 15rem;
}
body .dashboard .table_cards .statistics .circles,
html .dashboard .table_cards .statistics .circles,
.root .dashboard .table_cards .statistics .circles {
  display: flex;
  flex-direction: row;
}
body .dashboard .table_cards .statistics p,
html .dashboard .table_cards .statistics p,
.root .dashboard .table_cards .statistics p {
  font-family: Inter;
  color: white;
  font-size: 0.5rem;
  font-weight: 900;
}
body .dashboard .table_cards .statistics .blue_circle,
html .dashboard .table_cards .statistics .blue_circle,
.root .dashboard .table_cards .statistics .blue_circle {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  margin: 1rem;
  text-align: center;
  background-color: #4D4CAC;
}
body .dashboard .table_cards .statistics .purple_circle,
html .dashboard .table_cards .statistics .purple_circle,
.root .dashboard .table_cards .statistics .purple_circle {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  margin: 1rem;
  text-align: center;
  background-color: #9698D6;
}
body .dashboard .table_cards .statistics .pink_circle,
html .dashboard .table_cards .statistics .pink_circle,
.root .dashboard .table_cards .statistics .pink_circle {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  margin: 1rem;
  text-align: center;
  background-color: #FF808B;
}
body .dashboard .table_cards .dashboard_table,
html .dashboard .table_cards .dashboard_table,
.root .dashboard .table_cards .dashboard_table {
  background-color: white;
  border-radius: 20px;
  margin: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  width: 15rem;
}
body .dashboard .table_cards .dashboard_table hr,
html .dashboard .table_cards .dashboard_table hr,
.root .dashboard .table_cards .dashboard_table hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #E0E0E0;
}
body .dashboard .table_cards .dashboard_table .over,
html .dashboard .table_cards .dashboard_table .over,
.root .dashboard .table_cards .dashboard_table .over {
  overflow-x: auto;
  margin: auto;
  width: 80%;
}
body .dashboard .table_cards .dashboard_table .over table,
html .dashboard .table_cards .dashboard_table .over table,
.root .dashboard .table_cards .dashboard_table .over table {
  margin: auto;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-spacing: 2%;
}
body .dashboard .table_cards .dashboard_table .over table tbody,
html .dashboard .table_cards .dashboard_table .over table tbody,
.root .dashboard .table_cards .dashboard_table .over table tbody {
  padding: 0.5rem;
}
body .dashboard .table_cards .dashboard_table .over table tr,
html .dashboard .table_cards .dashboard_table .over table tr,
.root .dashboard .table_cards .dashboard_table .over table tr {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.8rem;
}
body .dashboard .table_cards .dashboard_table .over table tr th,
html .dashboard .table_cards .dashboard_table .over table tr th,
.root .dashboard .table_cards .dashboard_table .over table tr th {
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  white-space: nowrap;
}
body .dashboard .table_cards .dashboard_table .over table tr td,
html .dashboard .table_cards .dashboard_table .over table tr td,
.root .dashboard .table_cards .dashboard_table .over table tr td {
  white-space: nowrap;
  width: 4rem;
  text-align: center;
  margin: 2%;
  padding: 0.5rem;
}
body .dashboard .table_cards .dashboard_table .over table tr ul,
html .dashboard .table_cards .dashboard_table .over table tr ul,
.root .dashboard .table_cards .dashboard_table .over table tr ul {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  text-align: center;
}
body .dashboard .table_cards .dashboard_table .over table tr ul li,
html .dashboard .table_cards .dashboard_table .over table tr ul li,
.root .dashboard .table_cards .dashboard_table .over table tr ul li {
  padding: 1%;
  text-align: center;
  margin: 1%;
  border-radius: 4px;
  border: white solid 1px;
}
body .dashboard .table_cards .dashboard_table .over table tr ul li ::hover,
html .dashboard .table_cards .dashboard_table .over table tr ul li ::hover,
.root .dashboard .table_cards .dashboard_table .over table tr ul li ::hover {
  background-color: #919EAB;
}
body .dashboard .body_dashboard_invoice,
html .dashboard .body_dashboard_invoice,
.root .dashboard .body_dashboard_invoice {
  margin: -2rem;
  background-color: #E7E7E7;
  height: 100vh;
}
body .new_invoice,
html .new_invoice,
.root .new_invoice {
  padding-top: 2rem;
  padding-left: 2rem;
  height: 100vh;
}
body .new_invoice button,
html .new_invoice button,
.root .new_invoice button {
  margin-left: 2rem;
}
body .new_invoice h2,
html .new_invoice h2,
.root .new_invoice h2 {
  font-family: Roboto;
  font-size: 1rem;
  margin-left: 2rem;
}
body .new_invoice .breadcrumb_div,
html .new_invoice .breadcrumb_div,
.root .new_invoice .breadcrumb_div {
  margin-left: 2rem;
}
body .new_invoice h5,
html .new_invoice h5,
.root .new_invoice h5 {
  font-family: Inter;
  font-weight: 300;
  color: #737373;
  font-size: 0.6rem;
}
body .new_invoice .rectangle_mauve,
html .new_invoice .rectangle_mauve,
.root .new_invoice .rectangle_mauve {
  margin: 2rem;
  margin-top: 3rem;
  margin-right: 4rem;
  border-radius: 20px;
  background-color: #9698D6;
  color: #F5F5F5;
  padding: 2rem;
}
body .new_invoice .rectangle_mauve img,
html .new_invoice .rectangle_mauve img,
.root .new_invoice .rectangle_mauve img {
  width: 100%;
  margin-top: -7rem;
}
body .new_invoice .rectangle_mauve h3,
html .new_invoice .rectangle_mauve h3,
.root .new_invoice .rectangle_mauve h3 {
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body .new_invoice .rectangle_mauve p,
html .new_invoice .rectangle_mauve p,
.root .new_invoice .rectangle_mauve p {
  font-family: Inter;
  font-size: 0.6rem;
}
body .div_form,
html .div_form,
.root .div_form {
  background-color: white;
  border-radius: 20px;
  margin: 2rem;
  margin-right: 4rem;
  padding-top: 1rem;
  padding-right: 1rem;
  font-family: Inter;
  font-size: 1rem;
}
body .div_form label,
html .div_form label,
.root .div_form label {
  margin-left: 2rem;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-top: 0.8rem;
}
body .div_form select,
html .div_form select,
.root .div_form select {
  margin-left: 2rem;
  padding: 0.4rem;
  border: none;
  width: 80%;
}
body .div_form input,
html .div_form input,
.root .div_form input {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  width: 80%;
  background-color: #E7E7E7;
  border: none;
}
body .div_form button,
html .div_form button,
.root .div_form button {
  margin: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 80%;
  background-color: #9698D6;
  font-size: 1rem;
  color: white;
  font-family: Roboto;
  border: none;
}
body .breadcrumb_div,
html .breadcrumb_div,
.root .breadcrumb_div {
  margin-bottom: 2rem;
}
body .breadCrumbItem,
html .breadCrumbItem,
.root .breadCrumbItem {
  font-family: Inter;
  font-weight: 300;
  color: #737373;
  font-size: 0.6rem;
}
body .drawer__button,
html .drawer__button,
.root .drawer__button {
  padding: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-top: -3rem;
  border-radius: 20px;
  background-color: #9698D6;
  font-size: 0.5rem;
  color: white;
  font-family: Roboto;
  border: none;
}
body .drawer__content,
html .drawer__content,
.root .drawer__content {
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}
body .drawer__content .drawer__close__button,
html .drawer__content .drawer__close__button,
.root .drawer__content .drawer__close__button {
  width: 10rem;
  padding: 0.4rem;
  border: none;
  margin: 0.4rem;
  margin-top: 1rem;
  background-color: #9698D6;
  color: white;
  border-radius: 15px;
  font-family: Roboto;
}
body .drawer__content .drawer__header,
html .drawer__content .drawer__header,
.root .drawer__content .drawer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 12rem;
}
body .drawer__content .drawer__header img,
html .drawer__content .drawer__header img,
.root .drawer__content .drawer__header img {
  margin-top: 1rem;
  width: 3rem;
  border-radius: 30px;
}
body .drawer__content .drawer__header .drawer__title,
html .drawer__content .drawer__header .drawer__title,
.root .drawer__content .drawer__header .drawer__title {
  padding: 1rem;
  font-family: Roboto;
  margin-bottom: 0.5rem;
}
body .drawer__content .drawer__header hr,
html .drawer__content .drawer__header hr,
.root .drawer__content .drawer__header hr {
  width: 100%;
  margin-bottom: 1rem;
  color: #E2E2E2;
}
body .drawer__content .drawer__link,
html .drawer__content .drawer__link,
.root .drawer__content .drawer__link {
  background-color: white;
  width: 12rem;
  padding-bottom: 6rem;
}
body .drawer__content .drawer__link a,
html .drawer__content .drawer__link a,
.root .drawer__content .drawer__link a {
  font-family: Roboto;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
body .drawer__content .drawer__link a a:hover,
html .drawer__content .drawer__link a a:hover,
.root .drawer__content .drawer__link a a:hover {
  font-weight: bold;
}
body .drawer__content .drawer__link a a:active,
html .drawer__content .drawer__link a a:active,
.root .drawer__content .drawer__link a a:active {
  font-weight: bold;
}
body .drawer__content .drawer__link img,
html .drawer__content .drawer__link img,
.root .drawer__content .drawer__link img {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
body .drawer__content .drawer__link .link,
html .drawer__content .drawer__link .link,
.root .drawer__content .drawer__link .link {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
body .drawer__content .drawer__footer,
html .drawer__content .drawer__footer,
.root .drawer__content .drawer__footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  width: 12rem;
  font-family: Roboto;
  border-radius: 0 0 20px 0;
}
body .drawer__content .drawer__footer hr,
html .drawer__content .drawer__footer hr,
.root .drawer__content .drawer__footer hr {
  color: #E0E0E0;
}
body .drawer__content .drawer__footer img,
html .drawer__content .drawer__footer img,
.root .drawer__content .drawer__footer img {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  width: 2rem;
  border-radius: 20px;
}
@media screen and (min-width: 725px) {
  body body,
  body html,
  html body,
  html html,
  .root body,
  .root html {
    background-color: white;
  }
  body body header .header__manage,
  body html header .header__manage,
  html body header .header__manage,
  html html header .header__manage,
  .root body header .header__manage,
  .root html header .header__manage {
    display: flex;
    align-items: center;
  }
  body body header .header__manage img,
  body html header .header__manage img,
  html body header .header__manage img,
  html html header .header__manage img,
  .root body header .header__manage img,
  .root html header .header__manage img {
    width: 50%;
  }
  body body header .header__manage h2,
  body html header .header__manage h2,
  html body header .header__manage h2,
  html html header .header__manage h2,
  .root body header .header__manage h2,
  .root html header .header__manage h2 {
    width: 50%;
    text-align: center;
  }
  body body header nav .nav__link,
  body html header nav .nav__link,
  html body header nav .nav__link,
  html html header nav .nav__link,
  .root body header nav .nav__link,
  .root html header nav .nav__link {
    display: block;
    width: 50%;
  }
  body body header nav .nav__link a,
  body html header nav .nav__link a,
  html body header nav .nav__link a,
  html html header nav .nav__link a,
  .root body header nav .nav__link a,
  .root html header nav .nav__link a {
    margin-right: 7.5%;
  }
  body body header nav .chakra-button,
  body html header nav .chakra-button,
  html body header nav .chakra-button,
  html html header nav .chakra-button,
  .root body header nav .chakra-button,
  .root html header nav .chakra-button {
    display: none;
  }
  body body .work,
  body html .work,
  html body .work,
  html html .work,
  .root body .work,
  .root html .work {
    height: 50vh;
    margin: 0;
    padding: 0;
  }
  body body .work .title_work,
  body html .work .title_work,
  html body .work .title_work,
  html html .work .title_work,
  .root body .work .title_work,
  .root html .work .title_work {
    width: 50%;
    margin: 0;
  }
  body body .work .title_work h2,
  body html .work .title_work h2,
  html body .work .title_work h2,
  html html .work .title_work h2,
  .root body .work .title_work h2,
  .root html .work .title_work h2 {
    display: flex;
    align-items: center;
  }
  body body .work .illus,
  body html .work .illus,
  html body .work .illus,
  html html .work .illus,
  .root body .work .illus,
  .root html .work .illus {
    margin: 0;
  }
  body body .work .illus img,
  body html .work .illus img,
  html body .work .illus img,
  html html .work .illus img,
  .root body .work .illus img,
  .root html .work .illus img {
    width: 50%;
  }
  body body .table_cards,
  body html .table_cards,
  html body .table_cards,
  html html .table_cards,
  .root body .table_cards,
  .root html .table_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */